# Ignore local development environment files
.Rproj.user
.hugo_build.lock
.DS_Store

# Ignore files not related to content creation
netlify.toml

# Don't ignore these
!.gitignore
!CNAME
!config.yaml
!content
!index.Rmd
!layouts
!LICENSE
!public
!resources
!themes
